/* Coolors Exported Palette - coolors.co/ffba49-ed254e-75b9be-a8c256-fffbbd */

/* HSL */
$color1: hsla(37%, 100%, 64%, 1);
$color2: hsla(348%, 85%, 54%, 1);
$color3: hsla(184%, 36%, 60%, 1);
$color4: hsla(74%, 47%, 55%, 1);
$color5: hsla(56%, 100%, 87%, 1);

/* RGB */
$color1: rgba(255, 186, 73, 1);
$color2: rgba(237, 37, 78, 1);
$color3: rgba(117, 185, 190, 1);
$color4: rgba(168, 194, 86, 1);
$color5: rgba(255, 251, 189, 1);